.pokemon-card {
  background: white;
  position: relative;
  margin: 8px;
  border-radius: 12px;
  padding: 8px;
  min-height: 280px;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px 0px rgb(188, 209, 171);
}

.pokemon-card__name {
  margin: 4px 0 4px 0;
  font-size: 18px;
  font-weight: bold;
}

.pokemon-card__type {
  margin: 0 0 10px 0;
  color: rgb(110, 110, 228);
}

.pokemon-card__save-button {
  position: absolute;
  bottom: 2px;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  background: rgb(110, 110, 228);
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 8px;
}

.pokemon-card__abilities {
  font-weight: bold;
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  list-style-position: outside;
  /* list-style-image: none; */
  padding: 4px;
}

.pokemon-card__ability {
  font-weight: normal;
  margin-top: 2px;
  font-style: italic;
  position: relative;
}

.pokemon-card__ability:hover {
  color: rgb(79, 156, 204);
  cursor: pointer;
}

.pokemon-card__ability:hover > p {
  display: block;
}


.pokemon-card__ability-description {
  border:1px solid rgb(79, 156, 204);
  color: black;
  display: none;
  font-style: normal;
  position: absolute;
  right: -70px;
  top: 10px;
  background: white;
  min-width: 200px;
  padding: 4px;
  border-radius: 4px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .pokemon-card {
    transform: scale(0.85);
    margin: 0px;
  }
  .pokemon-card__type {
    margin: 0 0 8px 0;
  }
}
