.SearchResultBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    background: rgb(218, 221, 218);
    padding: 8px;
}

@media screen and (max-width: 768px) {
    .SearchResultBoard{
        
    }
  }
  